version: 2
updates:
- package-ecosystem: gomod
  directory: "/"
  schedule:
    interval: daily
    time: "13:00"
    timezone: "Europe/Oslo"
  open-pull-requests-limit: 5
  reviewers:
    - nrkno/iac-admins
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
    time: "13:00"
    timezone: "Europe/Oslo"
  commit-message:
    prefix: ci(workflow)
  open-pull-requests-limit: 5
  reviewers:
    - nrkno/iac-admins
