---
on: [push, pull_request]

name: Commit lint and release
jobs:
  lint_release:
    uses: nrkno/github-workflow-semantic-release/.github/workflows/workflow.yaml@v3.0.1
    with:
      release-enabled: false
      runs-on: ubuntu-latest
