name: "Build and test"

on:
  push:
    branches:
      - main
  pull_request:
    paths-ignore:
    - '.github/'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v4.1.6
      -
        name: Docker build
        env:
          DOCKER_TAG: terraform-registry:latest
        run: |
          make DOCKER_TAG="${DOCKER_TAG}" build-docker
          docker image save ${DOCKER_TAG} -o image.tar
      -
        name: Trivy vulnerability scan
        uses: aquasecurity/trivy-action@0.22.0
        with:
          input: image.tar
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
