name: "Docker Build/Push and Deploy to k8s"

on:
  push:
    branches:
      - main
  pull_request_target:
    paths-ignore:
    - '.github/'
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
        id: buildx
        with:
          install: true
      -
        name: Docker build
        run: |
          docker build -t nrkno/terraform-registry:latest .
      -
        name: Trivy vulnerability scan
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: nrkno/terraform-registry:latest
          format: 'table'
          exit-code: '1'
          ignore-unfixed: true
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
