# SPDX-FileCopyrightText: 2024 - 2026 KYSTVERKET
#
# SPDX-License-Identifier: MIT
name: Publish
on:
  push:
    branches: ['main']
jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.x'
      - uses: ko-build/setup-ko@v0.8
      - run: ko build ./cmd/terraform-registry
