# SPDX-FileCopyrightText: 2022 - 2024 NRK
#
# SPDX-License-Identifier: MIT
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: REUSE Compliance Check
jobs:
  reuse-compliance-check:
    runs-on: ubuntu-latest
    steps:
    -
      name: Checkout
      uses: actions/checkout@v5.0.0
    -
      name: REUSE Compliance Check
      uses: fsfe/reuse-action@v5.0.0
